@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation 20s linear 0s normal infinite running;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  background-color: #f2f2f2;
  display: flex;
  overflow: hidden;
  /* выше установили ограничения для секции */
}


.logo {
  width: 183px;
  height: 32px;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bolder;
  display: flex;
  align-items: center;
  width: 730px;
  margin-left: 64px;
}
.header__subtitle {
  width: 388px;
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
}
.header__link {
  text-decoration: none;
  color: #2f80ed;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
}
.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 765px;
  height: 608px;
}

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  color: #5195ef;
  font-weight: normal;
  width: 175px;
}
.two-columns__span-accent {
  font-weight: bold;
}
.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
}
.two-columns__span-accent {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}
/* и элемента с модификатором вида ключ-значение */
/* Секция techniques */
.techniques {
  padding-top: 100px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 240px);
  grid-column-gap: 100px;
  margin-left: auto;
  margin-right: auto;

  width: 920px;
}
.item {
  width: 240px;
  margin-top: 60px;
}
.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 100px;
  margin-left: 40px;
  margin-right: 40px;
}
.cards__title {
  margin-top: 43px;
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
}
.cards__description {
  margin: 0;
  text-align: center;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}
/* Секция oakley */
.oakley {
  padding-top: 160px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  margin-top: -50px;
}

/* Секция video */
.video {
  padding-top: 100px;
}
.video__iframes {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 515px 515px;
  grid-template-rows: 316px;
  grid-column-gap: 20px;
  justify-content: center;
}
.video__iframe {
  width: 515px;
  height: 316px;
}
/* Секция DIGITS */
.digits {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-title {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bolder;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #000;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  width: 60%;
  margin-top: 20px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  color: #000;
}
.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-weight: normal;
  color: #000;
}
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
  margin: 0px;
  color: #000;
}
.table__heading_theme_dark {
  color: #fff;
}
.table__text_theme_dark {
  color: #fff;
}

/* Секция khan*/
.khan {
  padding-top: 105px;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
}
.khan__container {
  width: 80%;
  display: flex;
  flex-direction: column;
}
.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
  margin-top: 0px;
  margin-bottom: 50px;
}
.khan__quote {
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0px;
}
.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
  margin-top: 36px;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin-top: 10px;
}

.khan__book-container {
  display: flex;
  margin-top: 68px;
}
.khan__book-pic {
  margin-right: 48px;
  width: 620px;
  height: 608px;
}
.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}
/* Секция resources*/
.resources {
  padding-top: 100px;
  padding-bottom: 217px;
}
.resources__logo-zone {
  width: 1100px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.resources__logo {
  width: 270px;
  height: 38px;
}
/* секция feynman */
.feynman {
  position: relative;
  background-color: #f2f2f2;
  min-height: 790px;
  padding-top: 100px;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom 0px left 0px;
}
.feynman__title {
  width: 648px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
  text-align: center;
}

.feynman__subtitle {
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  color: #000;
  text-decoration: none;
}

/* блок kaufman */
.kaufman {
  position: relative;
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
}

.section-title_theme_dark {
  color: #fff;
}

.section-subtitle_theme_dark {
  color: #fff;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  z-index: 0;
  background-size: contain;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 1;
}

/* секция footer */
.footer {
  background-color: #1f1f1f;
  /* border-top: 1px solid #bfbfbf; */
  padding-bottom: 40px;
  padding-top: 60px;
}

.footer__columns {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  min-height: 350px;
  align-items: stretch;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
}
.footer__column-heading {
  font-weight: bolder;
  margin: 0px;
  line-height: 30px;
}
.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  list-style-type: none;
  padding-left: 0px;
  line-height: 30px;
}
.footer__column-link {
  text-decoration: none;
  color: #fff;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__column {
  color: #fff;
  font-weight: normal;
  font-size: 18px;
}

footer__column_content_info {
  line-height: 30px;
  /* color: #fff; */
  /* font-size: 18px; */
}

footer__column_content_social {
  line-height: 30px;
}
.logo_place_footer {
  height: 35px;
}
